<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
  crossorigin="anonymous"
/>

<!-- HEADER -->

<div class="header py-2 sticky-top bg-white">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid d-flex">
        <div>
          <a class="navbar-brand" href="/"
            ><img src="/img/logo.webp" alt="Logo" class="mw-50px"
          /></a>
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link <%= current === 'home' && 'current' %>"
                aria-current="page"
                href="/"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link <%= current === 'about-us' && 'current' %>"
                href="/about"
                >About us</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                role="button"
                aria-expanded="false"
                >Product & Services</a
              >
              <ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item <%= current === 'savings' && 'current' %>"
                    href="/savings"
                    >Savings</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item <%= current === 'loans' && 'current' %>"
                    href="/loans"
                    >Loans</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item <%= current === 'others' && 'current' %>"
                    href="/others"
                    >Other Services</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a
                class="nav-link <%= current === 'contact' && 'current' %>"
                href="/contact"
                >Contact us</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link <%= current === 'blog' && 'current' %>"
                href="/blog"
                >Blog</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link <%= current === 'gallery' && 'current' %>"
                href="/gallery"
                >Gallery</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link <%= current === 'members' && 'current' %>"
                href="/members"
                >Members</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
